.container {
    margin-top: 20px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  .card-header {
    background-color: #009879;
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    text-align: center;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-body p {
    margin: 10px 0;
    font-weight: bold;
  }

  
  .card-body ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .card-body ul li {
    background-color: #e3e3e3;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
  }
  